.books {
  background-color: #f8f8f8;
  min-height: 90vh;
  &__error {
    grid-column: 1/5;
    justify-self: center;
    font-size: 18px;
    padding-top: 100px;
  }

  &__inner {
    height: 100%;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 270px));
    margin-bottom: 40px;
  }
  &__button {
    position: relative;
    top: 0px;
    width: 210px;
    margin: 0 auto;
    display: block;
    padding: 20px 60px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid gainsboro;
    border-radius: 5px;
    grid-column: 2/3;
    transition: all 0.1s linear;

    &:hover {
      border: 1px solid rgb(145, 145, 145);
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
  &__button.disabled {
    &:active {
      top: 0px;
    }
    &:hover {
      border: 1px solid gainsboro;
    }
  }
  & .container {
    padding-bottom: 150px;
  }
  &__results {
    padding-top: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 120px;
    span {
      display: block;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  &__tooltip {
    display: inline;
  }
  &__tooltip-icon {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 400px;
  line-height: 1.2;
  left: -180px;
  top: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em;
}

@media (max-width: 430px) {
  [data-tooltip]::after {
    top: 10px;
    width: 300px;
    left: -130px;
  }
  .books__results {
    margin-bottom: 160px;
  }
}
